.navbar {
	margin-bottom: 0;
}

body {
	background: #E6D7B2;
	color: black;
}

h1,
h2 {
	font-weight:bold;
}

.jumbotron {
	background: #CEF6E3;
	text-align: center;
}

.btn-primary {
	color: white;
	background-color: transparent;
	border-color: white;
}

.btn-primary:hover {
	color: #E0F8F7;
	background-color: white;
	border-color: white;
}


/* navbar */
.navbar-inverse {
	background: #2E2F31;
}

/* navbar links */
.navbar-inverse .navbar-nav li a {
	color: white;
	font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}

.dropdown-menu {
	background: #2E2F31;
}

.dropdown-menu li a {
	border: 10px;
}

/* li's of the dropdown of navbar */
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}

.front-page {
	text-align:center;
}

.front-page p {
	margin-bottom: 40px;
}
